<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}メインメニュー{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <header>
       
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'myapp:main_menu' %}">メインメニュー</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:food_record' %}">食事記録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myapp:exercise_record' %}">運動記録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myapp:sleep_record' %}">睡眠記録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myapp:logout' %}">ログアウト</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% block content %}
    
    {% endblock %}

    <footer>
        
        <p>&copy; </p>
    </footer>

   
    <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>
