<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>運動記録</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .alert {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>
<body class="body-background exercise-record">
    <div class="container">
        <h1 class="title">運動記録</h1>
        <form method="post" action="{% url 'myapp:submit_exercise_record' %}" class="form-group">
            {% csrf_token %}
            <label for="duration" class="form-label">運動時間（分）:</label>
            <input type="range" id="duration" name="duration" min="0" max="60" value="30" class="input-range">
            <span id="durationDisplay" class="duration-display">30分</span>
            <div id="warning" class="alert"></div>

            <label for="date" class="form-label">日付:</label>
            <input type="date" id="record_date" name="date" required value="{{ today|date:'Y-m-d' }}">


            <button type="submit" class="button">保存</button>
        </form>

        <h2>過去5日分の記録</h2>
        <table>
            <thead>
                <tr>
                    <th>日付</th>
                    <th>運動時間 (分)</th>
                </tr>
            </thead>
            <tbody>
                {% for record in exercise_records %}
                <tr>
                    <td>{{ record.date|date:"Y-m-d" }}</td>
                    <td>{{ record.duration }} 分</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">記録がありません。</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p class="alert">※記録済みの日付で再度記録した場合、上書きとなります</p>

        <div class="text-center">
            <a href="{% url 'myapp:main_menu' %}" class="back-link">メインメニューに戻る</a>
        </div>
    </div>

    <script>
        const durationInput = document.getElementById('duration');
        const durationDisplay = document.getElementById('durationDisplay');
        const warningDiv = document.getElementById('warning');

        durationInput.oninput = function() {
            const durationValue = parseInt(this.value);
            durationDisplay.textContent = durationValue + '分';

            if (durationValue < 30) {
                warningDiv.textContent = '警告: 推奨される運動時間は30分以上です！';
            } else {
                warningDiv.textContent = '';
            }
        };
    </script>    
</body>
</html>
