<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>睡眠記録</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .alert {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>
<body class="body-background sleep-record">
    <div class="container">
        <h1 class="title">睡眠記録</h1>
        <form method="post" action="{% url 'myapp:submit_sleep_record' %}" class="form-group">
            {% csrf_token %}
            <label for="duration" class="form-label">睡眠時間（時間）:</label>
            <input type="range" id="duration" name="duration" min="0" max="12" value="8" class="input-range">
            <span id="durationDisplay" class="duration-display">8時間</span>
            <div id="warning" class="alert"></div>

            <div class="form-group">
                <label for="record_date">日付:</label>
                <input type="date" id="record_date" name="date" required value="{{ today|date:'Y-m-d' }}">
            </div>
            

            <button type="submit" class="button">保存</button>
        </form>

        <h2>過去5日分の記録</h2>
        <table>
            <thead>
                <tr>
                    <th>日付</th>
                    <th>睡眠時間 (時間)</th>
                </tr>
            </thead>
            <tbody>
                {% for record in sleep_records %}
                <tr>
                    <td>{{ record.date|date:"Y-m-d" }}</td>
                    <td>{{ record.duration }} 時間</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">記録がありません。</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            <a href="{% url 'myapp:main_menu' %}" class="back-link">メインメニューに戻る</a>
        </div>
    </div>

    <script>
        const durationInput = document.getElementById('duration');
        const durationDisplay = document.getElementById('durationDisplay');
        const warningDiv = document.getElementById('warning');

        durationInput.oninput = function() {
            const durationValue = parseInt(this.value);
            durationDisplay.textContent = durationValue + '時間';

           if (durationValue < 6 || durationValue > 10) {
                warningDiv.textContent = '警告: 推奨睡眠時間（6-10時間）から大きく外れています！';
            } else {
                warningDiv.textContent = '';
            }
        };
    </script>    
</body>
</html>
